ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
	float: left;
	size: 15px;
}
li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
h1{
	font-size: 80px;
}

a{
	color: #ffffff;
}

body {
	padding:1em 4em 1em 4em;
}

.active{
	background-color: #0066ff;
}
.nav-bar{
	padding-left: 40px;
	padding-right: 90px;
}

.bg-colors {
	background-color: #111828;
	color: #ffffff;
}

.grid-container {
	display: grid;
    grid-column-gap: 80px;
    grid-template-areas: 'grid-item grid-item';
	border-radius: 5px;
    padding: 70px;
    grid-template-columns: repeat(2, 1fr);
}
.grid-container-1{
	display: grid;
	grid-template-areas: 'igs-item-1 igs-item-4';
	grid-column-gap: 180px;
	padding: 70px;
	grid-template-columns: repeat(2, 1fr);
}

.grid-container-2{
	display: grid;
	grid-template-areas: 'igs-item-2 igs-item-3';
	padding: 70px;
	grid-column-gap: 80px;
	grid-template-columns: repeat(2, 1fr);
}
.grid-container > div{
	text-align: left;
    padding: 20px 0;

}
.grid-item{
    padding: 10px;
}
.grid-presentation{
	display: flex;
	justify-content: space-between;
}
.flex-container{
}

.igs-work{
	display: inline-flex;
	justify-content: space-around;
	flex-direction: row-reverse;
}

.igs-work .p {
	text-align: right;
}
.icone{
	display: flex;
	justify-content: flex-end;
	align-content: space-between;
	padding: 0px 10px;
}
.igs-icone li{
	display: flex;
	justify-content: space-around;
	padding: 30px;
}
.igs-numbers{
	font-size: 60px;
	text-align: left;
}
.stat{
	font-size: 28px;
	text-align: left;
}

.impacted, .Retention{
	margin-top: -18px;
}
.work-container{
	width: 20%;
}

.igs-1 {
	background-color:#212a39; 
	padding: 20px;
	margin: 15px;
	border-radius: 5px;
}

.igs-1 > p > a {
	text-decoration: none;
}

.igs-content{
	font-size: 1rem;
	padding-left: 20px;
}

.content{
	font-size: 26px;
}
.project{
	display: flex;
	justify-content: flex-end;
}
.images-1, .images-2, .images-3{
	background-color:#212a39;
	padding: 1rem;
	border-radius: 5px;
}


.images-container{
	display: grid;
	grid-template-areas: 'images-1 images-2 images-3';
	grid-gap: 18px;
	grid-template-columns: repeat(3, 1fr);
}
.icone-container{
	display: grid;
	grid-template-areas: 'icone-1 icone-2 icone-3' 'icone-4 icone-5 icone-6';
	grid-gap: 4px 230px;
	grid-template-columns: repeat(3, 1fr);
}

.igs-stat{
	display: grid;
	grid-template-areas: 'igs-project igs-retention-1' 'igs-retention-2 igs-users';
	grid-column-gap: -10px;
	grid-template-columns: repeat(2, 1fr); 
}
.igs-clients{
	display: flex;
	align-items: center;
}
.igs-client > p {
	font-size: 13px;
}

.igs-presentation{
	width: 100%;
}

.presentation{
	padding-right: 120px;

}
.container-2 >p{
	text-align: left;
	padding-right: 52px;
}

/** Icone Work display  **/

.fas,.fab-1 {
	font-size: 88px;
}

.igs-icone > .fab{
	font-size: 20px;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 95%;
  padding: 20px;
  margin: 15px;
  background-color: #384152;
  border: 1px solid #384152;
  border-radius: 4px;
  resize: vertical;
  color: #ffffff;
  background-color: black;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: #ffffff;
}

.fname{
	color: #ffffff;
}

input[type=submit] {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: center;
}

input[type=submit]:hover {
  background-color: black;
}

/*.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}*/

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}